<!doctype html>
<html>
   <head>
   <title>pyChart Survey System :: Create question</title>
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> <!PureCSS>
   </head>
   <body>
   <style>
        body {margin: 20px;}
    </style>
      <h1 style="text-align:center">Add question to pool</h1>
      <form method="POST">
      <div class="pure-menu pure-menu-horizontal" style="text-align:center">
        <a href="/" class="pure-menu-heading pure-menu-link">DASHBOARD</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/questions/add" class="pure-menu-link">Add Question</a></li>
            <li class="pure-menu-item"><a href="/questions" class="pure-menu-link">View Questions</a></li>
            <li class="pure-menu-item"><a href="/survey/create" class="pure-menu-link">Create Survey</a></li>
            <li class="pure-menu-item"><a href="/surveys" class="pure-menu-link">View Surveys</a></li>
            <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
        </ul>
        </div>
         <p>{{statement}}</p> 
         <textarea name="question" placeholder="Question"></textarea><br>
         <input name="response1" placeholder="Response 1"/><br>
         <input name="response2" placeholder="Response 2"/><br>
         <input name="response3" placeholder="Response 3"/><br>
         <input name="response4" placeholder="Response 4"/><br>
         <input name="response5" placeholder="Response 5"/><br>

         <button type="submit" name="bt" class="pure-button pure-button-primary">Create question</button>
      </form>
   </body>
</html>
