<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>pyChart Survey System :: Add Question</title>

	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">

</head>
<body>

    <div id="main">


        <div class="header">
            <h1>pyChart</h1>
            <h2>A python/flask Survey System created with <i class="fa fa-pie-chart"></i> in mind.</h2>

            <div class="pure-menu pure-menu-horizontal">
				<a href="/" class="pure-menu-heading pure-menu-link"><i class="fa fa-home"></i> DASHBOARD</a>
				<ul class="pure-menu-list">
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<a class="pure-menu-link"><i class="fa fa-question"></i> Questions</a></a>
						<ul class="pure-menu-children">
							<li class="pure-menu-item"><a href="/questions/add" class="pure-menu-link"><i class="fa fa-plus"></i> Add</a></li>
							<li class="pure-menu-item"><a href="/questions" class="pure-menu-link"><i class="fa fa-eye"></i> View</a></li>
						</ul>
					</li>
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<a class="pure-menu-link"><i class="fa fa-comments"></i> Surveys</a></a>
						<ul class="pure-menu-children">
							<li class="pure-menu-item"><a href="/surveys/create" class="pure-menu-link"><i class="fa fa-plus"></i> Add</a></li>
							<li class="pure-menu-item"><a href="/surveys" class="pure-menu-link"><i class="fa fa-eye"></i> View</a></li>
						</ul>
					</li>
					<li class="pure-menu-item"><a href="/logout" class="pure-menu-link"><i class="fa fa-sign-out"></i> Logout</a></li>
				</ul>
			</div>
        </div>

        <div class="content">


            <h2 class="content-subhead"><i class="fa fa-plus"></i> Add a new Question</h2>

            {% if success %}<p style="color: green;">Your question has been successfully added to the pool.</p>{% endif %}
            {% if error == 0 %}<p style="color: red;">The application could not complete your request at this moment. Please try again later.</p>{% endif %}
            {% if error == 1 %}<p style="color: red;">Please complete all required fields.</p>{% endif %}
            {% if error == 2 %}<p style="color: red;">An error occured whilst adding your question to the pool. Please try again later.</p>{% endif %}


            <form class="pure-form pure-form-aligned" method="POST">
                <fieldset id="formFields">
                    <div class="pure-control-group">
                        <label>Question text</label>
                        <textarea class="pure-input-1-2" name="question" placeholder="Question text"></textarea>
                        <span class="pure-form-message-inline">* required</span>
                    </div>
                    <div class="pure-control-group">
                        <label>Question type</label>
                        <input type="radio" name="optional" value="1"> Optional &nbsp;&nbsp;&nbsp;
                        <input type="radio" name="optional" value="0" checked> Mandatory
                    </div>
                    <div class="pure-control-group">
                        <label>Response type</label>
                        <input type="radio" name="type" value="MCQ" onchange="hideText()" checked> Multiple Choice &nbsp;&nbsp;&nbsp;
                        <input type="radio" name="type" value="Text" onchange="hideMCQ()"> Text
                    </div>

                    <br>
                    <div id="MCQ">
                        <div id="1" class="pure-control-group">
                            <label>Response 1</label>
                            <input class="pure-input-1-2" name="responses"/>
                            <span class="pure-form-message-inline">* required</span>
                        </div>
                        <div id="2" class="pure-control-group">
                            <label>Response 2</label>
                            <input class="pure-input-1-2" name="responses"/>
                            <span class="pure-form-message-inline">* required</span>
                        </div>
                        <div id="addInput" class="pure-control-group">
                            <label></label>
                            <a class="pure-button" onclick="addInput()"><i class="fa fa-plus"></i></a>
                            <a class="pure-button" onclick="yesNo()">Yes/No</a>
                            <a class="pure-button" onclick="likert()">Likert scale</a>
                            <a class="pure-button" onclick="resetForm()">Reset</a>
                        </div>
                    </div>

                    <div id="TEXT" style="display:none;">
                        <div class="pure-control-group">
                            <label>Response</label>
                            <input class="pure-input-1-2" placeholder="Free response field" disabled/>
                        </div>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" name="bt" class="pure-button pure-button-primary">Add question</button>
                    </div>

                </fieldset>
         </form>

        </div>
    </div>

</body>

<script>
    var number = 3;
    function addInput(){

        var container = document.getElementById("MCQ");
        var div = document.getElementById("2").cloneNode(true);
        div.id = "clone"+number;
        div.children[0].innerHTML = "Response " + number;
        div.children[1].value = "";
        div.removeChild(div.children[2]);

        container.insertBefore(div, document.getElementById("addInput"));

        number++;
    }

    function yesNo(){

        var rem = document.querySelectorAll("[id*='clone']");
        for (var i = 0; i < rem.length; i++)
            rem[i].parentNode.removeChild(rem[i]);
        document.getElementById("1").children[1].value = "Yes";
        document.getElementById("2").children[1].value = "No";

        number = 3;
    }

    function likert(){

        yesNo();
        addInput();
        addInput();
        addInput();
        document.getElementById("1").children[1].value = "Strongly agree";
        document.getElementById("2").children[1].value = "Agree";
        document.getElementById("clone3").children[1].value = "Neutral";
        document.getElementById("clone4").children[1].value = "Disagree";
        document.getElementById("clone5").children[1].value = "Strongly disagree";

    }

    function resetForm(){

        yesNo();
        document.getElementById("1").children[1].value = "";
        document.getElementById("2").children[1].value = "";

    }

    function hideMCQ(){

        document.getElementById("MCQ").style.display = "none"
        document.getElementById("TEXT").style.display = "initial";

    }

    function hideText(){

        resetForm();
        document.getElementById("MCQ").style.display = "initial"
        document.getElementById("TEXT").style.display = "none";

    }
</script>

</html>
