<!doctype html>
<html>
   <head>
   <title>pyChart Survey System :: Create question</title>
   </head>
   <body>
      <h1>Add question to pool</h1>
      <form method="POST">
         <textarea name="question" placeholder="Question"></textarea><br>
         <input name="response1" placeholder="Response 1"/><br>
         <input name="response2" placeholder="Response 2"/><br>
         <input name="response3" placeholder="Response 3"/><br>
         <input name="response4" placeholder="Response 4"/><br>
         <input name="response5" placeholder="Response 5"/><br>

         <button type="submit" name="bt">Create question</button>
      </form>
   </body>
</html>
