<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>pyChart Survey System :: Dashboard</title>

	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/styles.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">

</head>
<body>

    <div id="main">


        <div class="header">
            <h1>pyChart</h1>
            <h2>A python/flask Survey System created with <i class="fa fa-pie-chart"></i> in mind.</h2>

            <div class="pure-menu pure-menu-horizontal">
				<a href="/" class="pure-menu-heading pure-menu-link"><i class="fa fa-home"></i> DASHBOARD</a>
				<ul class="pure-menu-list">
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<a class="pure-menu-link"><i class="fa fa-question"></i> Questions</a></a>
						<ul class="pure-menu-children">
							<li class="pure-menu-item"><a href="/questions/add" class="pure-menu-link"><i class="fa fa-plus"></i> Add</a></li>
							<li class="pure-menu-item"><a href="/questions" class="pure-menu-link"><i class="fa fa-eye"></i> View</a></li>
						</ul>
					</li>
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<a class="pure-menu-link"><i class="fa fa-comments"></i> Surveys</a></a>
						<ul class="pure-menu-children">
							<li class="pure-menu-item"><a href="/surveys/create" class="pure-menu-link"><i class="fa fa-plus"></i> Add</a></li>
							<li class="pure-menu-item"><a href="/surveys" class="pure-menu-link"><i class="fa fa-eye"></i> View</a></li>
						</ul>
					</li>
					<li class="pure-menu-item"><a href="/logout" class="pure-menu-link"><i class="fa fa-sign-out"></i> Logout</a></li>
				</ul>
			</div>
        </div>

        <div class="content">

            <h2 class="content-subhead"><i class="fa fa-smile-o"></i> Welcome, {{ session['username'] }}</h2>
            <p>
                This is your dashboard. Come back at any time by clicking 'DASHBOARD' in the menu above.
            </p>

            <h2 class="content-subhead"><i class="fa fa-link"></i> Quick links</h2>
            <p>
            	<a class="pure-button pure-button-primary" href="/questions/add">Add Question</a>
				<a class="pure-button pure-button-primary" href="/questions">View Questions</a>
				<a class="pure-button pure-button-primary" href="/surveys/create">Create Survey</a>
				<a class="pure-button pure-button-primary" href="/surveys">View Surveys</a>
            </p>


            <h2 class="content-subhead"><i class="fa fa-users"></i> Pending Guest Users</h2>
            {% if approved %}<p style="color: green;">The guest user has been successfully approved.</p>
            {% elif deleted %}<p style="color: green;">The guest user has been successfully deleted.</p>{% endif %}


            {% if pending_enrolments %}
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr><th>Username</th><th>Course</th><th></th></tr>
                </thead>
                {% for enrolment in pending_enrolments %}
                <tr><td>{{ enrolment.user.username }}</td><td>{{ enrolment.course.name + " " + enrolment.course.session }}</td><td><a class="pure-button" href="guest/approve/{{ enrolment.user.id }}"><i class="fa fa-check"></i> Approve</a>&nbsp;<a class="pure-button" href="guest/delete/{{ enrolment.user.id }}"><i class="fa fa-times"></i> Delete</a></td></tr>
                {% endfor %}
            </table>
            {% else %}
            <p>There are no pending guest users.</p>
            {% endif %}


            <h2 class="content-subhead"><i class="fa fa-info"></i> About the Project</h2>
            <p>
            	pyChart is a python/flask built Survey System. Created by Frank Foo, Dennis Gann and Charmaine Leung for a UNSW COMP1531 17s2 Group Project.
            </p>

        </div>
    </div>

</body>
</html>
