<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>pyChart Survey System :: Create Survey</title>

	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

</head>
<body>

    <div id="main">


        <div class="header">
            <h1>pyChart</h1>
            <h2>A python/flask Survey System created with <i class="fa fa-pie-chart"></i> in mind.</h2>

            <div class="pure-menu pure-menu-horizontal">
				<a href="/" class="pure-menu-heading pure-menu-link"><i class="fa fa-home"></i> DASHBOARD</a>
				<ul class="pure-menu-list">
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<a class="pure-menu-link"><i class="fa fa-question"></i> Questions</a></a>
						<ul class="pure-menu-children">
							<li class="pure-menu-item"><a href="/questions/add" class="pure-menu-link"><i class="fa fa-plus"></i> Add</a></li>
							<li class="pure-menu-item"><a href="/questions" class="pure-menu-link"><i class="fa fa-eye"></i> View</a></li>
						</ul>
					</li>
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<a class="pure-menu-link"><i class="fa fa-comments"></i> Surveys</a></a>
						<ul class="pure-menu-children">
							<li class="pure-menu-item"><a href="/surveys/create" class="pure-menu-link"><i class="fa fa-plus"></i> Add</a></li>
							<li class="pure-menu-item"><a href="/surveys" class="pure-menu-link"><i class="fa fa-eye"></i> View</a></li>
						</ul>
					</li>
					<li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled"><i class="fa fa-pie-chart"></i> Results</a></li>
					<li class="pure-menu-item"><a href="/logout" class="pure-menu-link"><i class="fa fa-sign-out"></i> Logout</a></li>
				</ul>
			</div>
        </div>

        <div class="content">


            <h2 class="content-subhead"><i class="fa fa-plus"></i> Add a new Survey</h2>

            {% if success %}<p style="color: green;">Your survey has been created successfully.</p>{% endif %}
            {% if error == 0 %}<p style="color: red;">The application could not complete your request at this moment. Please try again later.</p>{% endif %}
            {% if error == 1 %}<p style="color: red;">Please complete all required fields.</p>{% endif %}
            {% if error == 2 %}<p style="color: red;">An error occured whilst creating your survey. Please try again later.</p>{% endif %}



            {% if courses %}
            {% if questions %}
            <form class="pure-form pure-form-aligned" method="POST">
                <fieldset>
                    <div class="pure-control-group">
                        <label>Survey name</label>
                        <input class="pure-input-1-2" name="name" placeholder="Survey name"></input>
                        <span class="pure-form-message-inline">* required</span>
                    </div>
                    <div class="pure-control-group">
                        <label>Course</label>
                        <select class="pure-input-1-2" name="course">
                            <option></option>
                            {% for course in courses %}
                            <option value="{{course.id}}">{{ course.name }} {{ course.session }}</option>
                            {% endfor %}
                        </select>
                        <span class="pure-form-message-inline">* required</span>
                    </div>
                    <br>
                    <div class="pure-control-group">
                        <label>Questions</label>
                        <div class="pure-u-1-2">
                            <i>Select the questions you wish to include.</i>
                        </div>
                        <span class="pure-form-message-inline">* required</span>
                    </div>

                    {% for question in questions %}
                    <div class="pure-control-group">
                        <label></label>
                        <input name="questions" type="checkbox" value="{{ question.id }}"> {{ question.text }} ({% if question.type == 1 %}Text{% else %}MCQ{% endif %}{% if not question.required %} - Optional{% endif %})</input>
                    </div>
                    {% endfor %}

                    <div class="pure-controls">
                        <button type="submit" name="bt" class="pure-button pure-button-primary">Create Survey</button>
                    </div>


                </fieldset>
         </form>
         {%else%}
         <p>There are no questions currently in the pool. Please add a question first.</p>
         {% endif %}
         {%else%}
         <p>No courses available.</p>
         {% endif %}

        </div>
    </div>

</body>

<script type="text/javascript">
    $(document).ready(function() {
        $('select').select2({placeholder: 'Please select a course...', allowClear: true});
    });
</script>

</html>
