<!doctype html>
<html>
    <head>
        <title>pyChart Survey System :: Dashboard</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> <!PureCSS>
    </head>
    <body>
        <h1>Welcome to your Dashboard!</h1>
        <a class="pure-button pure-button-primary" href="/questions/add">Add Question</a>
        <a class="pure-button pure-button-primary" href="/questions">View Questions</a>
        <a class="pure-button pure-button-primary" href="/survey/create">Create Survey</a>
        <a class="pure-button pure-button-primary" href="/surveys">View Surveys</a>
        <span>&nbsp;</span>
        <a class="pure-button pure-button-primary" href="/logout">Logout</a>
    </body>
</html>
