<!doctype html>
<html>
    <head>
        <title>pyChart Survey System :: Dashboard</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> <!PureCSS>
    </head>
    <body>
        <h1>Welcome to your Dashboard</h1>
        <form method="POST">
        </form>
        <button type="submit" name="add" class="pure-button pure-button-primary">Add Question</button>
        <button type="submit" name="questions" class="pure-button pure-button-primary">View Questions</button>
        <button type="submit" name="logout" class="pure-button pure-button-primary">Logout</button>
    </body>
</html>

