<!doctype html>

<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

   <title>pyChart Survey System :: View Surveys</title>

	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">

</head>
<body>

   <div id="main">


       <div class="header">
           <h1>pyChart</h1>
           <h2>A python/flask Survey System created with <i class="fa fa-pie-chart"></i> in mind.</h2>

           <div class="pure-menu pure-menu-horizontal">
				<a href="/" class="pure-menu-heading pure-menu-link"><i class="fa fa-home"></i> DASHBOARD</a>
				<ul class="pure-menu-list">
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<a class="pure-menu-link"><i class="fa fa-question"></i> Questions</a></a>
						<ul class="pure-menu-children">
							<li class="pure-menu-item"><a href="/questions/add" class="pure-menu-link"><i class="fa fa-plus"></i> Add</a></li>
							<li class="pure-menu-item"><a href="/questions" class="pure-menu-link"><i class="fa fa-eye"></i> View</a></li>
						</ul>
					</li>
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<a class="pure-menu-link"><i class="fa fa-comments"></i> Surveys</a></a>
						<ul class="pure-menu-children">
							<li class="pure-menu-item"><a href="/surveys/create" class="pure-menu-link"><i class="fa fa-plus"></i> Add</a></li>
							<li class="pure-menu-item"><a href="/surveys" class="pure-menu-link"><i class="fa fa-eye"></i> View</a></li>
						</ul>
					</li>
					<li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled"><i class="fa fa-pie-chart"></i> Results</a></li>
					<li class="pure-menu-item"><a href="/logout" class="pure-menu-link"><i class="fa fa-sign-out"></i> Logout</a></li>
				</ul>
			</div>
       </div>

       <div class="content">


           {% if error == 0 %}<p style="color: red;">The application could not complete your request at this moment. Please try again later.</p>{% endif %}

           <h2 class="content-subhead"><i class="fa fa-eye"></i> Active Surveys</h2>

           {% if error == 1 %}<p style="color: red;">The survey could not be closed. Please try again later.</p>{% endif %}
           {% if success %}<p style="color: green;">The survey has been closed successfully.</p>{% endif %}



           {% if active_surveys %}
           <table class="pure-table pure-table-horizontal">
               <thead>
                   <tr><th>Name</th><th>Course</th><th>Link</th><th></th></tr>
               </thead>
               {% for survey in active_surveys %}
               {% if survey.state == "1" %}
               <tr><td>{{ survey.name }}</td><td>{{ survey.course }}</td><td><a href="survey/{{ survey.id }}" target="_blank">{{ request.url_root + "survey/" + survey.id }}</a></td><td><a class="pure-button" href="surveys/close/{{ survey.id }}"><i class="fa fa-ban"></i></a></td></tr>

            {% endif %}
            {% endfor %}
           </table>
           {% else %}
           <p>There are no active surveys. Please create a survey first.</p>
           {% endif %}


           <h2 class="content-subhead"><i class="fa fa-eye-slash"></i> Inactive Surveys</h2>

           {% if inactive_surveys %}
           <table class="pure-table pure-table-horizontal">
               <thead>
                   <tr><th>Name</th><th>Course</th><th></th></tr>
               </thead>
               {% for survey in inactive_surveys %}
               {% if survey.state == "0" %}
               <tr><td>{{ survey.name }}</td><td>{{ survey.course }}</td><td><a class="pure-button pure-button-disabled" href="#"><i class="fa fa-pie-chart"></i></a></td></tr>
               {% endif %}
               {% endfor %}
           </table>
           {% else %}
           <p>There are no inactive surveys.</p>
           {% endif %}

        </div>
   </div>

</body>
</html>
