<!doctype html>
<html>
   <head>
   <title>pyChart Survey System :: Survey</title>
   </head>
   <body>

      {% if survey %}
      <h1>{{survey[0][0]}}</h1>
      <h2>{{survey[0][1]}}</h2><br>

      <form method="POST">
          <p><i>Please answer the questions below:</i></p>
      {% for question in survey[1] %}
        <p><u>{{question}}</u></p>
         <input name="{{loop.index}}" type="radio" value="1">Response1</input>
         <input name="{{loop.index}}" type="radio" value="2">Response2</input>
         <input name="{{loop.index}}" type="radio" value="3">Response3</input>
         <input name="{{loop.index}}" type="radio" value="4">Response4</input>
         <input name="{{loop.index}}" type="radio" value="5">Response5</input>
     {% endfor %}
     <br><br><button type="submit" name="bt">Submit response</button>
    </form>
     {%else%}
     <strong>Not a valid survey link.</strong>
     {% endif %}
   </body>
</html>
