<!doctype html>

<html>
{% if error == 3 %}<p style="color: red;">The survey you have requested does not exist. Please check your link is correct.</p>
{% else %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>pyChart Survey System :: {{ survey.name }}</title>

	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">

</head>
<body>

    <div id="main">

        <div class="header">
            <h1>{{ survey.name }}</h1>
            <h2>{{ survey.course.name + " " + survey.course.session }}</h2>
        </div>
        <div class="content">


            {% if success %}
            <h2 class="content-subhead"><i class="fa fa-comment"></i> Thanks for your feedback</h2>
            <p style="color: green;">Your response has been recorded successfully.</p>
            <p>Survey results will be made available to you through your dashboard when the survey closes.</p><br>
            <a href="/">Click here to return to your Dashboard.</a>

            {% elif survey.state == 2 %}

            <h2 class="content-subhead"><i class="fa fa-comment"></i> Please complete the survey below</h2>
            <p>Your feedback is greatly appreciated.</p><br>

            {% if error == 0 %}<p style="color: red;">The application could not complete your request at this moment. Please try again later.</p>
            {% elif error == 1 %}<p style="color: red;">Please complete all required survey questions.</p>
            {% elif error == 2 %}<p style="color: red;">An error occured whilst recording your response. Please try again later.</p>{% endif %}

            <form class="pure-form pure-form-stacked" method="POST">
                <fieldset>
                    {% for question in questions %}
                    <legend>{{ question.text }} {% if question.required %}<span class="pure-form-message-inline">* required</span>{% endif %}</legend>
                        {% if question.type == 1 %}
                            {% for response in question.responsesList() %}
                                <input name="{{ question.id }}" type="radio" value="{{ loop.index }}"> {{ response }}</input><br>
                            {% endfor %}
                            <br>
                        {% else %}
                            <textarea class="pure-input-1-2" name="{{ question.id }}" placeholder="Please enter your response..."></textarea><br>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" name="bt" class="pure-button pure-button-primary">Submit response</button>
                </fieldset>
            </form>
           {%else%}
           <p>This survey is no longer accepting responses.</p>
           {% endif %}

        </div>
    </div>

</body>
{% endif %}
</html>
